/* スマートフォンで表示される場合 */
.hamburger {
  display: none;
}
.global-navigation {
  display: none; /* デフォルトで非表示 */
}


.global-navigation.active {
  display: block;
}


/* ノートパソコンで表示される場合 */
@media screen and (min-width: 701px) {
  .center{
    width: 100%;
    margin: 0 auto padding 100px;
  }
  header{
      width: 100%;
      height: 185px;
      
  }
  header p{
      font-size: 62px;
      margin: 0;
      }
  .logo{
          display: flex;
          justify-content: center;
          gap: 150px;
          }
  .logo p{
      margin-left: 185px;
      margin-top: 36px;
      margin-bottom: 36px;
      padding-right: 70px;
      color: #FFA100;
      list-style: none;
  }
   nav{
       margin: 0;
       font-size: 28px;
       padding: 53px 24.5px; 
       overflow: hidden; 
      }
   nav a { 
      float: left;
      display: block;
      color:black; 
      text-align: center; 
      padding: 14px 16px; 
      text-decoration: none; 
      margin: 0 30px;
  } 
   nav a:hover { 
      background-color: #ff7b00;
      color: #fff; 
  }
  .logo-button{
      padding-left: 100px;
      padding-top: 53px;
  }
   button{
      text-align: center;
      color: white;
      border-color: #ff7b00;
      background-color: #ff7b00;
      width: 195px;
      height: 60px;
      border-radius: 19px;
      font-size: 28px;
      
   }
   button a{
     color: #fff;
   }
   .kv-back{
      background: linear-gradient(6deg, #FFE985 34.79%, #EE8B00 207.44%);
      width: 85%;
      height: 850px;
      flex-shrink: 0;
      margin-left: 15%;
      position: relative;
   }

   .kv-back h1{
      font-size: 78px;
      margin: 0;
      color: #fff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding-top: 98px;
      padding-left: 60px;
   }
   .kv_img-1{
      width: 550px;
      height: 360px;
      flex-shrink: 0;
      padding-left: 204px;
      padding-top: 83px;
   }
   .kv_img-2{
     position: absolute;
     width: 605px;
     height: 690px;
      flex-shrink: 0;
      top: 36px;
      right: 20%;
   }
   .kv-back img{
      width: 100%;
      height: 100%;
      object-fit: cover
   }
   .kv-Images{
     display: flex;
   }

   .moniter{
    display: block;
    object-fit: cover;
    position: relative;
    left: 12%;
    top: 250px;
}
.moniter img{
  width: 680px;
  height: 318px;
  flex-shrink: 0;
 
}
.pc{
    position: absolute;
    top: 180px;
}
.pc img{
  width: 450px;
  height: 270px;
  flex-shrink: 0;

}
.sp{
    position: absolute;
    top: 150px;
    left: 65%;
}
.sp img{
  width: 180px;
  height: 300px;
  flex-shrink: 0;
}

  
   /* content_1のデザイン */
   .content_1{
     position: relative;
     display: flex;
     justify-content: center;
     padding-top: 50px;
   }
   .content_1 h2{
      color: #f67b00;
      font-size: 68px;
   }
   .content_1 p{
     font-size: 36px;
   }
   .content_1 button{
     width: 166px;
     height: 40px;
     font-size: 20px;
   }
   .cont-arr-right{
     padding-left: 80px;
   }
   .cont-img-left{
    border: #d8d0c7 1px solid;
    width: 506px;
    height: 360px;;
     object-fit: cover;
     margin-left: 120px;
     margin-top: 50px;
   }
   .cont-posi-rela{
    padding-top: 100px;
   }
   .cont-arr-img{
    padding-top: 100px;
   }
   .cont-img-right{
    border: gray 1px solid;
     width: 506px;
     height: 360px;
     object-fit: cover;
     margin-right: 120px;
     margin-top: 50px;
   }
   #cont-img-posi{
     position: absolute;
     padding-top: 261px;
     padding-left: 160px;
   }
   .child{
     width: 252px;
     height: 157px;
     border-radius: 24px;
     object-fit: cover;
   }
  
  .sec-title{
     padding-left: 271px;
     padding-right: 151px;
     text-align: center;
   }
   .sec-title h2{
    display: inline-block;
    font-size: 78px;
    margin: 90px 0;
    text-align: left
   }
  
    /* content_2のデザイン */
    .cont-2-flex{
      display: flex;
      justify-content: center;
      margin-left: 271px;
      margin-right: 151px;
      gap: 81px;
    }
  .content_2{
    
    text-align: center;
    width: 450px;
  }
  .content_2 p{
    display: inline-block;
    text-align: left;
    font-size: 36px;
  }
  
   .cont-2-posi{
    position: relative;
   }
   .cont-2-img{
    width: 450px;
    height: 280px;
   }
   .icon{
    width: 40px;
    height: 40px;
    display: flex;
    position: absolute;
    bottom: -10px;
    left: 200px;
   }
   .icon img{
    width: 100%;
    height: auto;
    object-fit: cover;
   }
   .content_2 h3{
    font-size: 40px;
   }
   .content_2 p{
    font-size: 28px;
   }
  
   /* content_3のデザイン */
   .content_3{
    padding-top: 75px;
    display: flex;
    justify-content: center;
    margin-left: 271px;
    margin-right: 165px;
   }
   .cont-3-img{
    width: 345px;
    height: 382px;
   }
   .cont-3-art-flex{
    padding-left: 80px;
   }
   .cont-3-art-flex h2{
    font-size: 48px;
    margin: 0;
   }
   .font-orange{
    color: #f67b00;
   }
   .cont-3-art-flex p{
    width: 456px;
    font-size: 24px;
    line-height: 150%;
   }
   .title_red{
    font-size: 24px;
    color:#D00F31 ;
    text-align: center;
   }
   .cont-4{
    padding-left: 249px;
    padding-right: 215px;
    padding-bottom: 150px;
   }
   .sub-title{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-bottom: 120px;
    margin-top: 50px;
   }
   .cont-4-flex{
    display: flex;
    gap: 120px;
   }
   .content_4{
    width: 428px;
    height: 487px;
    flex-shrink: 0;
    border-radius: 32px;
    background: linear-gradient(135deg, #EDEDED 100%, #FFF 0%);
    box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset, -1px -1px 2px 0px rgba(202, 202, 202, 0.50) inset, -12px 12px 24px 0px rgba(202, 202, 202, 0.20), 12px -12px 24px 0px rgba(202, 202, 202, 0.20), -12px -12px 24px 0px rgba(255, 255, 255, 0.90), 12px 12px 30px 0px rgba(202, 202, 202, 0.90);
    
   }
   .content_4 h3{
    font-size: 26px;
    margin-top: 80px;
    text-align: center;
   }
   .content_4 p{
    font-size: 20px;
    width: 387px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    padding-left: 19px;
   }
   .company-logo{
    width: 212.776px;
    height: 45px;
    flex-shrink: 0;
    padding-left: 107px;
    padding-right: 107px;
    padding-top: 96px;
   }
   .money-width{
    padding-left: 219px;
    padding-right: 214px;
    padding-bottom: 60px;
   }
   .plan{
    padding-left:304px;
    padding-right:285px;
    margin-bottom: 80px;
   }
   .comment_title{
    font-size: 36px;
   }
   .text-center{
    text-align: center;
   }
   .plan_bottom{
    margin: 0;
    font-size: 48px;
    padding-top: 20px;
    padding-bottom: 80px;
    text-align: center;
   }
   .plan-card{
    display: flex;
    gap: 51px;
   }
   #plan_standard{
    background-color: #fcffdd;
    width: 400px;
    height: 605px;
   }
   #plan_bijiness{
    background-color:#f8ff98;
    width: 400px;
    height: 605px;
   }
   .title_word{
    font-size: 36px;
    padding: 50px 149px 26px 35px;
   }
   .price-num{
    font-size: 48px;
    padding-left: 35px;
   }
   .price-info{
    padding-top: 26px;
    font-size: 20px;
    padding-bottom: 40px;
    padding-left: 35px;
   }
   .plan-button{
    width: 200px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: #ffd000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   }
   .func-info{
    font-size: 24px;
   }
   .func-list li{
    font-size: 16px;
    font-weight: 400;
    line-height: 300%;
   }
   .opening-flow{
    padding-left: 147px;
    padding-right: 119px;
    padding-bottom: 61px;
    position: relative;
   }
   .contact-flow ol{
    list-style: none;
    display: flex;
    gap: 47px;
   }
   .contact-flow li{
    text-align: center;
    width: 230px;
    height: 230px;
    flex-shrink: 0;
    border-radius: 36px;
    background-color: #ffd97a;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .flow-alow{
    display: block;
    width: 1042px;
    height: auto;
    padding-right: 200px;
    background:url(../img/Arrow_1.png) no-repeat;
    background-size: contain;
    position: absolute;
   background-position: 0 ;
   }
   .comment-info{
    padding-top:  300px; 
    color: #ff2020;
   }
   footer{
    height: 653px;
    background-color: #f67b00;
   }
   footer p{
    margin: 0;
    padding-top:38px ;
    padding-left: 258px;
    font-size: 48px;
    color: #FFF;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #FFF;
   }
   footer ul{
    display: flex;
    list-style: none;
    gap: 115px;
   }
   footer dl{
    display: flex;
    gap: 115px;
    padding-left: 258px;
    padding-right: 265px; 
   }
   footer dl dt{
    color: #FFF;
    font-size: 28px;
    font-weight: bold;
    width: 166px;
   }
   dd{
    margin: 0;
    width: 166px;
    font-size: 24px;
    line-height: 250%;
    color: #fff;
   }
  dd a{
    color: #FFF;
  }
  }
  
  @media (min-width: 375px) and (max-width: 700px) {
    html{
        margin: 0;
    }
    header{
        height: 105px;
    }
    body{
        margin: 0;
    }
    .logo p{
        color: #FF7B00;
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #FF7B00;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        text-align: center;
        padding: 48px 125px 18px 125px;
        font-weight: bold;
        white-space: nowrap;
        
    }

    /* グローバルナビ非表示 */
    .g-nav{
        display: none;
    }
    .logo-button{
        display: none;
    }

    .kv-back{
        height: 404px;
        background-color: #FFE985;
    }
    .kv-back h1{
        color: #FFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        -webkit-text-stroke-width: 0.5;
        -webkit-text-stroke-color: #FFF;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        padding-left: 19px;
        padding-top: 19px;
        padding-bottom: 17px;
        padding-right: 57px;
    }
    .kv-Images{
        display: block;
        object-fit: cover;
        position: relative;
    }
    .kv_img-1{
        display: block;
        object-fit: cover;
    }
    .kv_img-1 img{
        width: 196px;
        height: 129px;
        flex-shrink: 0;
        padding-left: 30px;
    }
    .kv_img-2{
        display: block;
        object-fit: cover;
    }
    .kv_img-2 img{
        width: 155px;
        height: 239px;
        flex-shrink: 0;
        float: right;
        position: absolute;
        top: 0px;
        right: 24px;
    }
    .moniter{
        display: block;
        object-fit: cover;
        position: relative;
        left: 5%;
    }
    .moni{
        width: 202px;
        height: 122px; 
    }
    .pc{
        position: absolute;
        top: 90px;
    }
    .paso{
        width: 151px;
        height: 91px;

    }
    .sp{
        position: absolute;
        top: 60px;
        left: 35%;
    }
    .suma{
        width: 81px;
        height: 133px;
    }


    .content_1{
        margin-top: 59px;
        display: flex;
        flex-direction: column;
    }
    .cont-arr-left h2{
        color: #FF7B00;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 324px;
        margin: 0 auto;
        padding-bottom: 29px;
    }
    .cont-arr-left p{
        color: #000;
        width: 324px;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; 
        margin: 0 auto;
    }
    .cont-arr-img{
        display: block;
        object-fit: cover;
    }
    .cont-img-left{
        width: 350px;
        height: 202px;
        flex-shrink: 0;
        margin: 0 auto;
        padding-top: 59px;
    }
    .cont-posi-rela{
        position: relative;
        order: 2;
    }
    .cont-img-right{
        width: 289px;
        height: 179px;
        flex-shrink: 0;
        padding-left: 50px;
        padding-bottom: 86px;
    }
    .cont-img-posi{
        position: absolute;


    }
    .child{
        width: 186px;
        height: 123px;
        flex-shrink: 0;
        border-radius: 24px;
        position: absolute;
        top: 120px;
        left: 210px;
    }
    .cont-arr-right{
        order: 1;
    }
    .cont-arr-right h2{
        color: #FF7B00;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 324px;
        margin: 0 auto;
        padding-bottom: 29px;
    }
    .cont-arr-right p{
        width: 350px;
        margin: 0 auto;
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        padding-bottom: 29px;
        
    }
    .order {
        display: flex;
        flex-direction: column;
    }
    .order button{
        width: 351px;
        margin: 0 auto;
        height: 44.505px;
        border-radius: 6px;
        flex-shrink: 0;
        background-color: #F67B00;
        border-color: #F67B00;
        fill: #F67B00;
        order: 1;
    }
    .order button a{
        color: #FFF;
        -webkit-text-stroke-width: 0.5;
        -webkit-text-stroke-color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: bold;
        line-height: 150%;
    }
    .order p{
        padding-top: 48px;
        order: 2;
    }


    .sec-title{
        padding-top: 68px;
        padding-left: 34px;
        padding-right: 34px;
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .sec-title br{
        display: none;
    }

    .cont-2-flex{
        margin-left: 34px;
        margin-right: 34px;
    }
    .cont-2-flex-sub{
        display: flex;
        padding-bottom: 49px
    }
    .cont-2-posi{
        display: block;
        object-fit: cover;
    }
    .cont-2-img{
        width: 145px;
        height: 88px;
        flex-shrink: 0;
    }
    .icon{
        position: absolute;;
        display: block;
        object-fit: cover;
        display: flex;
    }
    .icon img{
        width: 26px;
        height: 27px;
        flex-shrink: 0;
    }
    .flex-article h3{
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 34px;
        margin: 0;
    }
    .flex-article p{
        color: #000;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; 
        width: 179px;
        padding-left: 34px;
    }

    .content_3{
        display: flex;
        flex-direction: column;
    }
    .cont-3-img{
        width: 288px;
        height: 182px;
        flex-shrink: 0;
        margin: 0 auto;
        padding-bottom: 69px;
    }
    .cont-3-art-flex{
       order: 1;
    }
    .cont-3-img-flex{
        order: 2;
    }
    .cont-3-art-flex h2{
        color: #000;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 320px;
        margin: 0 auto;
        padding-bottom: 43px;
    }
    .cont-3-art-flex br {
        display: none;
    }
    .font-orange{
        color: #F67B00;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .cont-3-art-flex p{
        width: 332px;
        color: #000;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; 
        margin: 0 auto;
        padding-bottom: 43px;
    }

    .title_red{
        color: #D00F31;
        text-align: center;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
    }
    .sub-title{
        text-align: center;
        margin: 0;
        color: #000;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 54px */
    }

    .cont-4-flex{
        display: block;
    }
    .company-logo{
        width: 100px;
        height: 25px;
        flex-shrink: 0;
        padding-left: 26px;
        padding-top: 51px;
        padding-bottom: 25px;
    }
    .cont-4-flex h3{
        color: #000;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
        padding-left: 26px;
        padding-right: 26px;
        width: 128px;
    }
    .content_4{
        display: flex;
        margin: 0 auto;
        width: 366px;
        height: 196px;
        flex-shrink: 0;
        border-radius: 26px;
        background: linear-gradient(135deg, #E8E8E8 100%, #FFF 0%);
        box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset, -1px -1px 2px 0px rgba(200, 200, 200, 0.50) inset, -12px 12px 24px 0px rgba(200, 200, 200, 0.20), 12px -12px 24px 0px rgba(200, 200, 200, 0.20), -12px -12px 24px 0px rgba(255, 255, 255, 0.90), 12px 12px 30px 0px rgba(200, 200, 200, 0.90);
        margin-bottom: 29px;
        margin-top: 52px;
    }
    .content_4:last-child{
        display: flex;
        margin: 0 auto;
        width: 366px;
        height: 250px;
        flex-shrink: 0;
        border-radius: 26px;
        background: linear-gradient(135deg, #E8E8E8 100%, #FFF 0%);
        box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset, -1px -1px 2px 0px rgba(200, 200, 200, 0.50) inset, -12px 12px 24px 0px rgba(200, 200, 200, 0.20), 12px -12px 24px 0px rgba(200, 200, 200, 0.20), -12px -12px 24px 0px rgba(255, 255, 255, 0.90), 12px 12px 30px 0px rgba(200, 200, 200, 0.90);
        margin-bottom: 103px;
    }
    .content_4 p{
        color: #000;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        width: 182px;
        margin: 0;
        padding-top: 54px;
    }
    .content_4 p:last-of-type{
        color: #000;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        width: 182px;
        margin: 0;
        padding-top: 31px;
    }
    .money-a-b{
        width: 384px;
        height: 190px;
        flex-shrink: 0;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .plan_bottom{
        text-align: center;
        color: #000;
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #000;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-weight: bold;
    }
    .comment_title{
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 288px;
        display: block;
        margin: 0 auto;
        padding-bottom: 72px;
    }
    .Note-pri{
        color: #ff4500;
        font-weight: bold;
    }

    #plan_standard{
        width: 372px;
        height: 567px;
        flex-shrink: 0;
        border-radius: 29px;
        background: #FCFFDD;
        box-shadow: 1px 1px 2px 0px rgba(255, 255, 243, 0.30) inset, -1px -1px 2px 0px rgba(227, 230, 199, 0.50) inset, -5px 5px 10px 0px rgba(227, 230, 199, 0.20), 5px -5px 10px 0px rgba(227, 230, 199, 0.20), -5px -5px 10px 0px rgba(255, 255, 243, 0.90), 5px 5px 13px 0px rgba(227, 230, 199, 0.90);
        margin: 0 auto;
        margin-bottom: 66px;
    }
    #plan_bijiness{
        width: 370.027px;
        height: 601px;
        flex-shrink: 0;
        border-radius: 29px;
        background: #F8FF9B;
        box-shadow: 1px 1px 2px 0px rgba(255, 255, 171, 0.30) inset, -1px -1px 2px 0px rgba(223, 230, 140, 0.50) inset, -5px 5px 10px 0px rgba(223, 230, 140, 0.20), 5px -5px 10px 0px rgba(223, 230, 140, 0.20), -5px -5px 10px 0px rgba(255, 255, 171, 0.90), 5px 5px 13px 0px rgba(223, 230, 140, 0.90);
        margin: 0 auto;
        margin-bottom: 163px;
    }
    .title_word{
        color: #000;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding:  45px 117px 0 39px;
    }
    .price-num{
        color: #000;
        font-family: Inter;
        font-size: 42px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 28px 100px 0 39px;
    }
    .price-info{
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding:14px 23px 32px 39px;
    }
    .plan-button{
        width: 146.22px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 20px;
        background: #FFD000;
        border-color: #FFD000;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-left: 47px;
    }
    .plan-button a{
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .func-info{
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        padding:32px 56px 23px 35px;
    }
    .func-list{
      padding-left: 20px;
    }
    .func-list li{
        padding-bottom: 28px;
        color: #000;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .flow-alow ol{
        padding-inline-start: 0;
    }


    .flow-alow li{
        list-style: none;
        color: #000;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 377px;
        height: 90px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FFD97A;
        margin: 0 auto;
        text-align: center;
        line-height: 80px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .arow{
        background-image: url(../img/alow.png) ;
        background-repeat: no-repeat;
        background-position: top 50%;
        width: 61px;
        height: 40px;
        flex-shrink: 0;
        margin: 0 auto;
    }
    .comment-info{
        margin-top: 55px;
        margin-bottom: 155px;
    }
    .comment-info p{
        margin: 0;
        color: #ff2950;
        font-size: 14px;
        
    }


    footer{
        background-color: #F67B00;
        margin-bottom: 0;
    }
    footer p{
        color: #FFF;
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #FFF;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-weight: bold;
        margin: 0;
        padding: 30px 166px 26.5px 61px;
    }
    dl{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

  
    .item dt{
        color: #FFF;
        -webkit-text-stroke-width: 0.5;
        -webkit-text-stroke-color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 45px;
        padding: 41.5px 0 11px 47px;
        font-weight: bold;
    }
    .item dd{
        font-family: Inter;
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 14px;
    }
    .item dd a{
        color: #FFF;
        list-style: none;
    }

}
  
